<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>[config_site_title] | Painel Administrativo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jquery/jquery-ui-1.9.2.js" type="text/javascript"></script>
        <script src="js/jquery/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="js/jquery/stupidtable.js" type="text/javascript"></script>
        <script src="js/admin/main.js" type="text/javascript"></script>
        <script src="js/admin/depoimento.js" type="text/javascript"></script>
        <link href="js/jquery/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="js/jquery/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="css/admin/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="main">
            <?php require_once 'menu_login.html'; ?>
            <div class="row-fluid">
                <div class="span2 pull-left">
                    <?php require_once 'menu.html'; ?>
                </div>            
                <div class="span10 pull-right" id="sright">
                    <div class="row-fluid">
                        <div class="panel">
                            <div class="title-grid-inverse" style="text-align: center">
                                <a href="[baseUri]/admin/depoimento/novo/" class="panel-link"><i class="icon-plus-sign icon-white"></i> 
                                    <b>Cadastrar Novo Depoimento</b></a>
                            </div>                          
                        </div>
                        <table cellpadding="0" cellspacing="0" border="0" class="table tabler table-striped">
                            <thead>
                                <tr>
                                    <!--<th width="100"><i class="icon-filter icon-white"></i> <b>Foto</b></th> -->
                                    <th  width="200" class="type-string"><i class="icon-filter icon-white"></i> <b title="Ordenar">Nome</b></th>
                                    <th  class="type-string"><i class="icon-filter icon-white"></i> <b title="Ordenar">Mensagem</b></th>
                                    <th  width="100" class="type-string"><i class="icon-filter icon-white"></i> <b title="Ordenar">Data</b></th>
                                    <th width="90px" style=""><i class="icon-th icon-white"></i> <b title="Editar ou Remover">Controles</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--{loop:rs}-->
                                <!--{<tr class="gradeX">}-->
                                <!--{ <!--<td style="vertical-align:middle"><img src="[baseUri]/thumb/cliente/rs.depoimento_foto/80/70/crop/" /></td>--> }-->
                                <!--{<td style="vertical-align:middle;line-height:50px !important; height:50px !important;">rs.depoimento_nome</td>}-->
                                <!--{<td  style="vertical-align:middle">rs.depoimento_msg</td>}-->
                                <!--{<td style="line-height:50px !important; height:50px !important;">rs.depoimento_data</td>}-->
                                <!--{<td style="text-align: center;vertical-align:middle;line-height:50px !important; height:50px !important;">}-->
                                <!--{<button class="btn btn-mini edit tips-top" id="rs.depoimento_id" title="editar"><i class="icon-edit"></i></button>}-->
                                <!--{<button class="btn btn-mini btn-danger remove tips-top" id="rs.depoimento_id" title="remover"><i class="icon-trash icon-white"></i></button>}-->
                                <!--{</td>}-->
                                <!--{</tr>}-->
                                <!--{end:rs}-->
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th style="text-align: left"><img src="images/icons/acurve.png" style="margin-top: -8px;"/> [depoimento_qtde]  &nbsp;depoimentos &nbsp;cadastrados </th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="pagination">
                            <ul class="pull-right">
                                <!--{pages}-->
                            </ul>
                        </div>
                    </div>                    
                </div>
                <?php require_once 'footer.html'; ?>          
            </div><!--end row-fluid-->             
        </div> <!--end main-->
        <div class="modal hide fade" id="modal-remove">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5><img src="images/icons/alert.png" /> Remover Slide</h5>
            </div>
            <div class="modal-body">
                <p>Você está prestes a remover um depoimento!</p>
                <p>Deseja realmente prosseguir?</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="$('#modal-remove').modal('hide')" class="btn btn-small">Cancelar</a>
                <a href="javascript:void(0);" id="btn-remove" class="btn btn-small btn-danger">Confirmar Remoção</a>
            </div>
        </div>    
        <script type="text/javascript">
            $("#menu-cliente").addClass('active');
            $("#cliente-depoimento").addClass('active');
            window.onload = function () {
                [msgOnload]
            }
        </script>  
    </body>
</html>
