<dl id="nav-left">
    <dt id="menu-dash"><a href="javascript:void(0);" id="dash"><i class="icon-th icon-white"></i> Dashboard <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="dash-home" href="[baseUri]/admin/"><i class="icon-home icon-white"></i> Home</a></li>
            <li><a href="[baseUri]/" target="_blank"><i class="icon-globe icon-white"></i> Visitar o site</a></li>
            <li><a id="dash-maisv" href="[baseUri]/admin/dashboard/itens/"><i class="icon-star icon-white"></i> Produtos Mais Visitados</a></li>
            <li><a id="dash-slide" href="[baseUri]/admin/slideshow/"><i class="icon-camera icon-white"></i> Slideshow e Banners</a></li>
            <!--<li><a id="dash-atd" href="https://dashboard.zopim.com/#Visitor_List" target="_blank"><i class="icon-comment icon-white"></i> Atendimento Online</a></li>-->
            <li><a href="[baseUri]/sitemap/" target="_blank"><i class="icon-bookmark icon-white"></i> Atualizar SiteMap XML</a></li>
        </ul>
    </dd>
    <dt id="menu-pedido"><a href="javascript:void(0);"><i class="icon-shopping-cart icon-white"></i> Pedidos <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="pedido-lista" href="[baseUri]/admin/pedido/"><i class="icon-fire icon-white"></i> Listar Pedidos</a></li>
        </ul>
    </dd>    
    <dt id="menu-categoria"><a href="javascript:void(0);" id="m1"><i class="icon-filter icon-white"></i> Categorias <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="categoria-lista" href="[baseUri]/admin/categoria/"><i class="icon-tag icon-white"></i> Gerenciar Categorias</a></li>
            <li><a id="categoria-sub" href="[baseUri]/admin/subcategoria/"><i class="icon-tags icon-white"></i> Gerenciar Subcategorias</a></li>
            <!--<li><a id="categoria-marca" href="[baseUri]/admin/marca/"><i class="icon-th-list icon-white"></i> Marcas / Fabricantes</a></li>-->
        </ul>
    </dd>
    <dt id="menu-produto" ><a href="javascript:void(0);"><i class="icon-gift icon-white"></i> Produtos <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="produto-novo" href="[baseUri]/admin/item/novo/"><i class="icon-plus-sign icon-white"></i> Cadastrar Produto</a></li>
            <li><a id="produto-lista" href="[baseUri]/admin/item/"><i class="icon-th-list icon-white"></i> Produtos Cadastrados</a></li>
            <li><a id="produto-busca" href="[baseUri]/admin/item/busca/"><i class="icon-search icon-white"></i> Pesquisar Produto</a></li>
            <li><a id="produto-attr" href="[baseUri]/admin/atributo/"><i class="icon-tags icon-white"></i> Gerenciar Atributos</a></li>
            <li><a id="produto-avaliacao" href="[baseUri]/admin/pedido/avaliacao/"><i class="icon-star icon-white"></i> Avaliação de Produtos</a></li>
        </ul>
    </dd>
    <dt id="menu-cliente"><a href="javascript:void(0);"><i class="icon-briefcase icon-white"></i> Clientes <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="cliente-lista" href="[baseUri]/admin/cliente/"><i class="icon-th-list icon-white"></i> Lista de Clientes</a></li>
        </ul>
    </dd>
    <dd>
        <ul>
            <li><a id="cliente-news" href="[baseUri]/admin/news/"><i class="icon-pencil icon-white"></i> NewsLetter</a></li>
            <li><a id="cliente-depoimento" href="[baseUri]/admin/depoimento/"><i class="icon-comment icon-white"></i> Depoimentos</a></li>
        </ul>
    </dd>
    <dt  id="menu-cupom" class="[showhide]"><a href="javascript:void(0);"><i class="icon-minus-sign icon-white"></i> Cupons <b class="icon-chevron-down"></b></a></dt>
    <dd class="[showhide]">
        <ul>
            <li><a id="cupom-lista" href="[baseUri]/admin/cupom/"><i class="icon-cog icon-white"></i> Gerenciar Cupons</a></li>
        </ul>
    </dd>                              
    <dt  id="menu-pagamento" class="[showhide]"><a href="javascript:void(0);"><i class="icon-barcode icon-white"></i> Pagamento <b class="icon-chevron-down"></b></a></dt>
    <dd class="[showhide]">
        <ul>
            <li><a id="pagamento-cartao" href="[baseUri]/admin/pagamento/cartao/"><i class="icon-cog icon-white"></i> Definições de Recebimento</a></li>
            <li><a id="pagamento-pagseguro" href="[baseUri]/admin/pagamento/pagseguro/"><i class="icon-cog icon-white"></i> Módulo PagSeguro</a></li>
            <li><a id="pagamento-deposito" href="[baseUri]/admin/pagamento/deposito/"><i class="icon-cog icon-white"></i> Depósito/Transf. Bancário</a></li>
        </ul>
    </dd>
    <dt id="menu-frete"><a href="javascript:void(0);"><i class="icon-road icon-white"></i> Frete e Entrega <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="frete-opcoes" href="[baseUri]/admin/frete/"><i class="icon-cog icon-white"></i> Opções de Frete</a></li>
            <li><a id="frete-entrega" href="[baseUri]/admin/entrega/"><i class="icon-map-marker icon-white"></i> Frete Diferenciado</a></li>
            <li><a id="frete-retirada" href="[baseUri]/admin/retirada/"><i class="icon-map-marker icon-white"></i> Locais de Retirada</a></li>
        </ul>
    </dd>
    <dt id="menu-pagina"><a href="javascript:void(0);"><i class="icon-file icon-white"></i> Páginas e Conteúdo <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a id="pagina-area" href="[baseUri]/admin/area/"><i class="icon-tag icon-white"></i> Gerenciar Áreas</a></li>
            <li><a id="pagina-lista" href="[baseUri]/admin/pagina/"><i class="icon-pencil icon-white"></i> Gerenciar Páginas</a></li>
        </ul>
    </dd>                           
    <dt id="menu-config" class="[showhide]"><a href="javascript:void(0);"><i class="icon-wrench icon-white"></i> Configurações <b class="icon-chevron-down"></b></a></dt>
    <dd class="[showhide]">
        <ul>
            <li><a id="config-tema" href="[baseUri]/admin/configuracao/tema/"><i class="icon-tint icon-white"></i>Aparência, Cores e Logo</a></li>
            <li><a id="config-loja" href="[baseUri]/admin/configuracao/"><i class="icon-cog icon-white"></i> Informações da Loja</a></li>
            <li><a id="config-chat" href="[baseUri]/admin/configuracao/chat/"><i class="icon-comment icon-white"></i> Configurar Chat</a></li>
            <li><a id="config-social" href="[baseUri]/admin/social/"><i class="icon-retweet icon-white"></i> Plugin Redes Sociais</a></li>
            <li><a id="config-email" href="[baseUri]/admin/smtpc/"><i class="icon-envelope icon-white"></i> Configurar E-mail</a></li>
        </ul>
    </dd>
    <dt id="menu-usuario" class="[showhide]"><a href="javascript:void(0);"><i class="icon-user icon-white icon-white"></i> Usuários do Sistema <b class="icon-chevron-down"></b></a></dt>
    <dd class="[showhide]">
        <ul>
            <li><a id="usuario-operador" href="[baseUri]/admin/usuario/operadores/"><i class="icon-user icon-white"></i> Operadores</a></li>
            <li><a id="usuario-admin" href="[baseUri]/admin/usuario/administradores/"><i class="icon-user icon-white"></i> Administradores</a></li>
            <li><a id="usuario-novo" href="[baseUri]/admin/usuario/novo/"><i class="icon-plus-sign icon-white"></i> Novo Usuário</a></li>
        </ul>
    </dd>                             
</dl>   