<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>[config_site_title] | Painel Administrativo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/jquery/jquery-ui-1.9.2.js" type="text/javascript"></script>
    <script src="js/admin/main.js" type="text/javascript"></script>
    <script src="js/jquery/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <link href="js/jquery/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="js/jquery/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="css/admin/main.css" rel="stylesheet" />
    <script src="js/jquery/jquery.price.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.mask.js" type="text/javascript"></script>
</head>
<body>
<div id="main">
    <?php require_once 'menu_login.html'; ?>
    <div class="row-fluid">
        <div class="span2 pull-left">
            <?php require_once 'menu.html'; ?>
        </div>
        <div class="span10 pull-right" id="sright">
            <div class="row-fluid">
                <div class="panel panel-box">
                    <div class="title-grid-inverse">
                        <i class="icon-cog icon-white"></i>  <b>PagSeguro - Parâmetros de Pagamento</b>
                    </div>
                    <form name="f-frete" id="f-frete" class="form mar-top-10" method="post" onSubmit="return valida()"
                          action="[baseUri]/admin/pagamento/atualizar/pagseguro/" style="padding: 10px">
                        <div class="input-prepend">
                            <span class="add-on">E-mail: </span>
                            <input class="span6" required name="pay_user" id="pay_user" type="text" value="[pay_user]" placeholder="Conta de e-mail cadastrada no PagSeguro" />
                        </div>
                        <div class="input-prepend">
                            <span class="add-on">API KEY: </span>
                            <input class="span6" required name="pay_key" id="pay_key" type="text" value="[pay_key]" placeholder="Chave API forncecida pelo PagSeguro" />
                        </div>
                        <div class="input-prepend hide">
                            <span class="add-on">Cobrar Juros: </span>
                            <select name="pay_c4" id="pay_c4" class="span6">
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">Parcelar em até: </span>
                            <select name="pay_c6" id="pay_c6" class="span6">
                                <option value="2">01 x</option>
                                <option value="2">02 x</option>
                                <option value="3">03 x</option>
                                <option value="4">04 x</option>
                                <option value="5">05 x</option>
                                <option value="6">06 x</option>
                                <option value="7">07 x</option>
                                <option value="8">08 x</option>
                                <option value="9">09 x</option>
                                <option value="10">10 x</option>
                                <option value="11">11 x</option>
                                <option value="12">12 x</option>
                            </select>
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">Parcelas sem Juros: </span>
                            <select name="pay_c1" id="pay_c1" class="span6">
                                <option value="2">02 x</option>
                                <option value="3">03 x</option>
                                <option value="4">04 x</option>
                                <option value="5">05 x</option>
                                <option value="6">06 x</option>
                                <option value="7">07 x</option>
                                <option value="8">08 x</option>
                                <option value="9">09 x</option>
                                <option value="10">10 x</option>
                                <option value="11">11 x</option>
                                <option value="12">12 x</option>
                            </select>
                        </div>


                        <div class="input-prepend">
                            <span class="add-on">Aceitar Boleto Pagseguro? </span>
                            <select name="pay_c3" id="pay_c3" class="span6">
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>
                        </div>
                        <div class="input-prepend">
                            <span class="add-on">Desconto no Boleto Pagseguro % </span>
                            <input class="span6" name="pay_fator_juros" id="pay_fator_juros" type="number" value="[pay_fator_juros]" placeholder="Valor do desconto em % Ex: 5 ou 0 para nenhum desconto" />
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">URL Notificação Pagseguro: </span>
                            <input class="span6" type="text" value="[baseUri]/notificacao/pagseguro/" disabled/>
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">Modo de testes/produção: </span>
                            <select name="pay_c5" id="pay_c5" class="span6">
                                <option value="PRODUCAO">Produção</option>
                                <option value="SANDBOX">Testes</option>
                            </select>
                        </div>
                        <div class="input-prepend">
                            <span class="add-on">Status do Módulo: </span>
                            <select name="pay_status" id="pay_status" class="span6">
                                <option value="1">Habilitado</option>
                                <option value="2">Desabilitado</option>
                            </select>
                        </div>

                        <br />
                        <input class="hide" name="pay_id" id="pay_id" type="hidden" value="[pay_id]" />
                        <button type="submit" class="btn" id="btn-add"><i class="icon-edit"></i> Atualizar Dados PagSeguro</button>
                        <br />
                        <div id="result"></div>
                        <br />

                    </form>
                </div>
            </div>
        </div>
    </div>
    <?php require_once 'footer.html'; ?>
</div> <!--end main-->

<script type="text/javascript">
    $("#menu-pagamento").addClass('active');
    $("#pagamento-pagseguro").addClass('active');
    $('#pay_status').val('[pay_status]');
    $('#pay_c4').val('[pay_c4]');
    $('#pay_c3').val('[pay_c3]');
    $('#pay_c1').val('[pay_c1]');
    $('#pay_c6').val('[pay_c6]');
    window.onload = function () {
        [msgOnload]
    }

    $('#pay_c5').val('[pay_c5]');
</script>
</body>
</html>
