<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>[config_site_title] | Atendimento</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
        <meta name="description" content="[config_site_description]" />
        <meta name="keywords" content="[config_site_keywords]" />
        <meta name="author" content="[config_site_title]">        
        <link href="js/jquery/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="js/jquery/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/public/main.css" rel="stylesheet" type="text/css"/>      
        <script src="js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
        <link href="css/public/tema.php?bd=[config_color_bd]&bh=[config_color_bh]&cd=[config_color_cd]&ch=[config_color_ch]&bk=[config_color_bk]&bt=[config_color_top]" rel="stylesheet" type="text/css"/>  
        <!--[if lt IE 9]>
        <script src="js/jquery/html5shiv.js"></script>
        <script src="js/jquery/respond.min.js"></script>
        <![ endif ]-->     
        <script src="js/public/ga.js" type="text/javascript"></script>
    </head>
    <body>
        <?php include 'topo.html'; ?>                
        <div class="container">        
            <ul class="breadcrumb">
                <li><a href="[baseUri]/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a><i class="fa fa-envelope-o fa-1x"></i> ATENDIMENTO - MENSAGEM</a></li>
            </ul> 
            <div id="main">
                <div class="page-content">
                    <p class="hide message_default">
                        <i class="icon-ok"></i> 
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <form name="f-atd" id="f-atd" action="[baseUri]/atendimento/enviar/" class="validate" method="post" >
                                <div class="row">
                                    
                                    
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="nome">Departamento</label>
        
                                            <select  name="assunto" id="assunto" class="form-control" value="[sob_consulta_assunto]" placeholder="informe o assunto da mensagem" required>
                                              <option value="Duvida">Dúvida</option>
                                              <option value="Venda">Venda</option>
                                              <option value="Reclamação">Reclamação</option>
                                              <option value="Troca e Cancelamento">Troca e Cancelamento</option>
                                            </select>
                                                    
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input type="text" name="nome" id="nome" class="form-control" value="[cliente_nome]" placeholder="informe seu nome completo" required />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="email">E-mail</label>
                                            <input type="email" name="email" id="email" class="email form-control" value="[cliente_email]"  placeholder="informe seu e-mail" required />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="telefone">Telefone</label>
                                            <input type="text" name="telefone" id="telefone" class="form-control" value="[cliente_telefone]" placeholder="(DDD) 5555-5555"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="nome">N pedido</label>
                                            <input type="text" name="pedido" id="pedido" class="form-control" value="[cliente_pedido]" placeholder="informe o número do pedido" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <label for="mensagem">Mensagem</label>
                                            <textarea name="mensagem" id="mensagem" class="form-control" placeholder="digite sua mensagem" rows="5" required>[sob_consulta_msg]</textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 ">
                                        <div class="form-group">
                                            <button type="submit" id="btn-send" class="btn btn-default">
                                                <i class="fa fa-send"></i> enviar mensagem</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                        <h3><a href="https://api.whatsapp.com/send?phone=5574988144845&text=Preciso%20de%20informações" target="_blank"><b class="fa fa-whatsapp"></b> [config_site_fone2]</a></h3>
                        <h3><b class="fa fa-envelope-o"></b> [config_site_email]</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <?php include 'footer.html'; ?>      
    <script src="js/jquery/jquery.mask.js" type="text/javascript"></script>        
    <script src="js/jquery/validate/jquery.validate.v2.js" type="text/javascript"></script>        
    <script src="js/public/atendimento.js?v=2.6" type="text/javascript"></script>        
    <script>[msg_onload]</script>     
    <!--[if IE]>
    <script src="js/jquery/jquery.placeholder.js" type="text/javascript"></script>
    <script>$(function() { $('input, textarea').placeholder();});</script>
    <![endif]-->          
</body>
</html>