<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>[config_site_title] | Identificação</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
        <meta name="description" content="[config_site_description]">
        <meta name="author" content="">        
        <link href="js/jquery/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="js/jquery/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/public/main.css" rel="stylesheet" type="text/css"/>  
        <script src="js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
        <link href="css/public/tema.php?bd=[config_color_bd]&bh=[config_color_bh]&cd=[config_color_cd]&ch=[config_color_ch]&bk=[config_color_bk]&bt=[config_color_top]" rel="stylesheet" type="text/css"/>  
        <!--[if lt IE 9]>
            <script src="js/jquery/html5shiv.js"></script>
            <script src="js/jquery/respond.min.js"></script>
        <![ endif ]-->     
        <script src="js/public/ga.js" type="text/javascript"></script>
    </head>
    <body>
        <?php include 'topo.html'; ?>
        <div class="container">
            <div id="main">
                <ul class="breadcrumb">
                    <li class="hidden-xs"><a href="[baseUri]/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="hidden-xs"><a  href="[baseUri]/cliente/"><i class="fa fa-user"></i> Área do Cliente</a></li>
                    <li class="active"><a><i class="fa fa-edit itop-3"></i> Meus Dados</a></li>
                </ul> 
                <div class="page-content">
                    <form name="f-atd" id="f-atd" action="[baseUri]/cliente/atualizarDados/" autocomplete="off" class="form validate" method="post" >
                        [message_default]
                        <div class="form-group">
                            <span class="separator-line">Dados pessoais</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_nome">Razão Social</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" name="cliente_nome" id="cliente_nome" class="form-control" value="[cliente_nome]"  placeholder="informe seu nome" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_contato">Contato </label>
                                    <span class="text-danger">*</span>
                                    <input type="text" name="cliente_contato" id="cliente_contato" class="form-control" value="[cliente_contato]" placeholder="informe o contato da empresa" required />
                                </div>  
                            </div>  
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_cnpj">CNPJ</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" name="cliente_cnpj" id="cliente_cnpj" class="form-control cnpj" value="[cliente_cnpj]" placeholder="informe o cnpj da empresa" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_ie">I.E</label>
                                    <input type="text" name="cliente_ie" id="cliente_ie" class="form-control" value="[cliente_ie]" placeholder="informe a inscrição da empresa" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="separator-line">contato</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_telefone">Telefone Preferencial</label>
                                    <span class="text-danger">*</span>
                                    <input type="text" name="cliente_telefone" id="cliente_telefone" class="form-control fone"  value="[cliente_telefone]"placeholder="informe um telefone de contato" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_celular">Telefone Alternativo</label>
                                    <input type="text" name="cliente_celular" id="cliente_celular" class="form-control fone" value="[cliente_celular]" placeholder="informe um telefone m?vel" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="separator-line">Dados de acesso</span>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_email">E-mail</label>
                                    <span class="text-danger">*</span>
                                    <input type="email" name="cliente_email" id="cliente_email" class="form-control email"  disabled value="[cliente_email]" placeholder="informe seu e-mail" required />
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_password">Senha</label>
                                    <span class="text-danger">*</span>
                                    <input type="password" name="cliente_password" id="cliente_password"  class="form-control password" autocomplete="off"
                                           placeholder="Informe sua senha" />                                         
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label for="cliente_passwordr">Confirme sua senha</label>
                                    <span class="text-danger">*</span>
                                    <input type="password" name="cliente_passwordr" id="cliente_passwordr"  class="form-control password" autocomplete="off"
                                           placeholder="Confirmar sua senha" /> 
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btn-update" class="btn btn-custom">
                            <i class="fa fa-refresh"></i>
                            Atualizar Cadastro
                        </button>
                    </form>
                </div>
            </div>
        </div><br/><br/><br/><br/>
        <?php include 'footer.html'; ?>  
        <script src="js/public/cliente.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/jquery/jquery.mask.js"></script>
        <script src="js/jquery/jquery.mask.js" type="text/javascript"></script>
        <script src="js/jquery/validate/jquery.validate.v2.js" type="text/javascript"></script>
        <!--[if IE]>
        <script src="js/jquery/jquery.placeholder.js" type="text/javascript"></script>
        <script>$(function() { $('input, textarea').placeholder();});</script>
        <![endif]-->        
        <script>[msg_error]</script>        
    </body>
</html>
