<div class="col-md-12 col-xs-12">
    <div class="form-group">
        <span class="separator-line">Dados pessoais</span>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_nome">Nome</label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_nome_fisico" id="cliente_nome" class="form-control" placeholder="Nome" />
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_sobrenome">Sobrenome </label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_sobrenome" id="cliente_sobrenome" class="form-control" placeholder="informe seu sobrenome"  />
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_cpf">CPF</label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_cpf" id="cliente_cpf" class="form-control cpf" placeholder="informe seu cpf" />
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_datan">Data de Nascimento</label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_datan" id="cliente_datan" class="form-control datar" placeholder="informe sua data de nascimento"  />
    </div>
</div>
