<div class="col-md-12 col-xs-12">
    <div class="form-group">
        <span class="separator-line">Dados pessoais</span>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_nome">Razão Social</label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_nome_juridico" id="cliente_nome" class="form-control" placeholder="Razão Social" />
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_contato">Contato </label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_contato" id="cliente_contato" class="form-control" placeholder="informe um responsável"  />
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="form-group">
        <label for="cliente_cnpj">CNPJ</label>
        <span class="text-danger">*</span>
        <input type="text" name="cliente_cnpj" id="cliente_cnpj" class="form-control cnpj" placeholder="informe seu cnpj"/>
    </div>
</div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="cliente_ie">I.E</label>
            <input type="text" name="cliente_ie" id="cliente_ie" class="form-control ie" placeholder="informe a inscrição estadual" />
            <input type="hidden" name="cliente_tipo" value="2">
        </div>
    </div>