<!DOCTYPE html>
<html>
    <head>
        <title>[config_site_title] | Identificação</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />     
        <meta name="description" content="[config_site_description]">
        <meta name="author" content="Rafael Clares">        
        <link href="js/jquery/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="js/jquery/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/public/main.css" rel="stylesheet" type="text/css"/>  
        <link href="css/public/tema.php?bd=[config_color_bd]&bh=[config_color_bh]&cd=[config_color_cd]&ch=[config_color_ch]&bk=[config_color_bk]&bt=[config_color_top]" rel="stylesheet" type="text/css"/>  
        <script src="js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>           
        <script src="js/public/ga.js" type="text/javascript"></script>
    </head>
    <body>
        <?php include 'topo.html'; ?>
        <div class="container">    

            <ul class="breadcrumb">
                <li class="active"><a><i class="fa fa-users"></i> Login & Senha</a></li>
            </ul> 

            <div id="login-alert" class="alert alert-danger col-sm-12 hide"></div>

            <div class="well well-sm">

                <form id="loginform" class="form-horizontal" role="form" method="post" action="[baseUri]/cliente/login/" autocomplete="off">
                    [message_login] <br>
                    <label><b>Qual é seu e-mail?</b></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="cliente_email" type="email" name="cliente_email" placeholder="informe seu e-mail"  autocomplete="off" class="form-control" required>                                       
                    </div><br/>
                    <label><b>Você já possui senha na [config_site_title]? </b></label>
                    <div class="control-group mar-left-20" >
                        <label class="radio" for="cadastrar">
                            <input type="radio" id="cadastrar" class="cad" name="cliente_cadastrado" value="nao">
                            Não, mas quero criar minha conta.
                        </label>
                        <label class="radio" for="cadastrado">
                            <input type="radio" id="cadastrado" class="cad" name="cliente_cadastrado" value="sim" checked="checked">
                            <b>Sim</b>, minha senha é:
                        </label>
                    </div>
                    <div class="input-group control-group mar-top-10">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="cliente_password" type="password" class="form-control" name="cliente_password" placeholder="informe sua senha">
                    </div>
                    <a href="[baseUri]/cliente/recuperar/senha/" class="mar-left-10" ><i>Esqueci minha senha</i></a>
                    <div class="form-group mar-top-30 hidden-xs">
                        <div class="col-sm-6 controls">
                            <button class="btn btn-custom"><i class="fa fa-caret-square-o-right"></i> Continuar</button>
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-30 visible-xs">
                        <div class="controls text-center">
                            <button class="btn btn-custom"><i class="fa fa-caret-square-o-right"></i> Continuar</button>
                        </div>
                    </div>
                </form>     
            </div>
        </div>
        <br/><br/><br/><br/>
        <?php include 'footer.html'; ?>
        <script src="js/public/login.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/jquery/jquery.mask.js"></script>                
    </body>
</html>