<!DOCTYPE html>
<html>
<head>
    <title>Finalização de Compra | [config_site_title]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="[config_site_description]">
    <meta name="author" content="Rafael Clares">
    <link href="css/public/card.css" rel="stylesheet" type="text/css"/>
    <link href="js/jquery/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="js/jquery/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/public/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/public/tema.php?bd=[config_color_bd]&bh=[config_color_bh]&cd=[config_color_cd]&ch=[config_color_ch]&bk=[config_color_bk]&bt=[config_color_top]"
          rel="stylesheet" type="text/css"/>
    <style>#main {
        min-height: 300px;
    }

    .form-cielo .col-md-12 {
        margin-bottom: 20px;
    }</style>
    <script src="js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="js/public/ga.js" type="text/javascript"></script>
</head>
<body>
<?php include 'topo.html'; ?>
<div class="container vitrine">
    <div id="main">
        <div class="status-compra confirmacao vitrine vitrine-mod-2"></div>
        <ul class="breadcrumb vitrine vitrine-mod-2">
            <li class="active"><a><i class="fa fa-info-circle"></i> Confirmação de Pedido</a></li>
        </ul>
        <div class="tab-pane" id="end2">
            <div id="finaliza-pagamento" class="border-bottom">
                <div class="panel panel-info">
                    <div class="panel panel-custom">
                        <div class="panel-heading">
                            <h5 class="text-white"><i class="fa fa-shopping-kart fa-1x"></i> Itens do seu <span
                                    class="orcamento-singular">pedido</span></h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!--{loop:cart}-->
                        <!--{<div class="row box-cart" id="cart.cart_id">}-->
                        <!--{<div class="col-md-2 col-xs-12 text-center">}-->
                        <!--{<a href="[baseUri]/app/fotos/cart.item_foto" data-lightbox="roadtrip" class="thumbnail">}-->
                        <!--{<img id="div_foto_cart.cart_id" src="thumber.php?zcc=2&w=120&h=90&src=fotos/cart.item_foto" class="img-responsive" />}-->
                        <!--{</a>}-->
                        <!--{</div>}-->
                        <!--{<div class="col-md-5 col-xs-12">}-->
                        <!--{<h4 class="product-name">cart.item_title</h4><h4><small>cart.atributo_ped</small></h4>}-->
                        <!--{</div>}-->
                        <!--{<div class="col-md-1 col-xs-4">}-->
                        <!--{<input type="hidden" class="qtde form-control" name="cart_id" id="qtde_cart.cart_id" value="cart.item_qtde" />}-->
                        <!--{<span class="input_qtde">cart.item_qtde</span>}-->
                        <!--{</div>}-->
                        <!--{<div class="col-md-2 col-xs-4">}-->
                        <!--{<h6>}-->
                        <!--{<strike class="text-danger cart.showhide_valorOri">R$ cart.item_valor_original</strike>}-->
                        <!--{</h6>}-->
                        <!--{</div>}-->
                        <!--{<div class="col-md-2 col-xs-4">}-->
                        <!--{<h6>}-->
                        <!--{<span class="" id="sp_total_cart.cart_id">R$ cart.valor_total</span>}-->
                        <!--{</h6>}-->
                        <!--{</div>}-->
                        <!--{</div>}-->
                        <!--{end:cart}-->
                        <div class="row vitrine">
                            <div class="col-md-4 col-xs-12" id="tbl_calculo_frete">
                                <p><i class="fa fa-map-marker"></i> <strong>Local de Entrega</strong></p>
                                [local_entrega]
                                <p class="vitrine-mod-2">
                                    <br/>
                                    <a class="btn btn-xs btn-custom" href="[baseUri]/finalizar/entrega/"><i
                                            class="fa fa-edit"></i> alterar local de entrega</a>
                                </p>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <p><i class="fa fa-dollar"></i> <strong>Produtos</strong></p>
                                R$ [total_produtos]
                            </div>
                            <div class="col-md-3 col-xs-12 text-center vitrine-mod-2">
                                <p><i class="fa fa-truck"></i> <strong>Frete</strong></p>
                                [frete_valor] <br>
                                [frete_prazo]
                            </div>
                            <div class="col-md-2 col-xs-12 text-center">
                                <p><i class="fa fa-dollar"></i> <strong>Subtotal</strong></p>
                                R$ [total_com_frete]
                            </div>
                        </div>

                        <div class="row mar-top-30">
                            <div class="col-md-12">
                                <label>Como deseja utilizar o seu Desconto?</label>
                            </div>
                        </div>

                        <div class="row mar-top-5">
                            <div class="col-md-12">
                                <input type="checkbox" name="utilizacaoDesconto" class="chb" value="1"> Utilizar em Compras Futuras
                                </br>
                                <!--<input type="checkbox" name="utilizacaoDesconto" class="chb" value="2"> Receber como Depósito Bancário
                                </br>-->
                                <input type="checkbox" name="utilizacaoDesconto" class="chb" value="3"> Fazer Doação para Instituição de Caridade
                                </br>
                                <input type="checkbox" name="utilizacaoDesconto" class="chb" value="4"> Oferecer para um Amigo(a)
                            </div>
                        </div>

                        <div class="row mar-top-5" id="cshFields" style="display: none">
                            <div class="col-md-12">
                                <div class="row mar-top-5">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nome:</label>
                                            <input class="text-uppercase form-control csh-nome" type="text" name="csh-nome" id="csh-nome" placeholder="Preenchimento obrigatório" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input class="text-lowercase form-control csh-email" type="email" name="csh-email" id="csh-email" placeholder="Preenchimento obrigatório" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>CPF/CNPJ:</label>
                                            <input class="text-uppercase form-control csh-cpf" type="text" name="csh-cpf" id="csh-cpf" placeholder="Preenchimento obrigatório" required="" maxlength="18" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mar-top-5">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Banco:</label>
                                            <select class="form-control csh-banco" name="csh-banco" id="csh-banco">
                                                <option value="">Escolha um Banco</option>
                                                <option value="001">001 - Banco do Brasil S.A.</option>
                                                <option value="003">003 - Banco da Amazonia S.A.</option>
                                                <option value="004">004 - Banco do Nordeste do Brasil S.A.</option>
                                                <option value="012">012 - Banco Standard de Investimentos S.A.</option>
                                                <option value="014">014 - Natixis Brasil S.A. Banco Múltiplo</option>
                                                <option value="019">019 - Banco Azteca do Brasil S.A</option>
                                                <option value="021">021 - Banestes S.A. Banco do Estado do Espírito Santo S.A.</option>
                                                <option value="024">024 - Banco de Pernambuco S.A. – BANDEPE</option>
                                                <option value="025">025 - Banco Alfa S.A</option>
                                                <option value="029">029 - Banco Banerj S.A</option>
                                                <option value="031">031 - Banco Beg S.A.</option>
                                                <option value="033">033 - Banco Santander (Brasil) S.A</option>
                                                <option value="036">036 - Banco Bradesco BBI S.A.</option>
                                                <option value="037">037 - Banco do Estado do Pará S.A</option>
                                                <option value="040">040 - Banco Cargil S.A</option>
                                                <option value="041">041 - Banco do Estado do Rio Grade do Sul S.A.</option>
                                                <option value="044">044 - Banco BVA S.A</option>
                                                <option value="045">045 - Banco Opportunity S.A.</option>
                                                <option value="047">047 - Banco do Estado de Sergipe S.A</option>
                                                <option value="062">062 - Hipercard Banco Múltiplo S.A</option>
                                                <option value="063">063 - Banco IBI S.A. – Banco Múltiplo</option>
                                                <option value="065">065 - Banco Lemon S.A</option>
                                                <option value="066">066 - Banco Morgan Stanley S.A</option>
                                                <option value="069">069 - BPN Brasil Banco Múltiplo S.A.</option>
                                                <option value="070">070 - BRB – Banco de Brasilia S.A</option>
                                                <option value="072">072 - Banco Rural Mais S.A</option>
                                                <option value="073">073 - BB Banco Popular do Brasil S.A.</option>
                                                <option value="074">074 - Banco J. Safra S.A</option>
                                                <option value="075">075 - Banco CR2 S/A</option>
                                                <option value="076">076 - Banco KEB do Brasil S.A</option>
                                                <option value="077">077 - Banco Inter S/A</option>
                                                <option value="078">078 - BES Investimentos do Brasil S.A.</option>
                                                <option value="079">079 - JBS Banco S/A</option>
                                                <option value="081">081 - Concórdia Banco S.A.</option>
                                                <option value="082">082 - Banco Topázio S.A</option>
                                                <option value="083">083 - Banco da China Brasil S.A</option>
                                                <option value="096">096 - Banco BM&F de Serviços de Liquidação e Custodia S.A.</option>
                                                <option value="104">104 - Caixa Econômica Federal</option>
                                                <option value="107">107 - Banco BBM S/A</option>
                                                <option value="151">151 - Banco Nossa Caixa S.A</option>
                                                <option value="184">184 - Banco Itaú BBA S.A.</option>
                                                <option value="204">204 - Banco Bradesco Cartões S.A.</option>
                                                <option value="208">208 - Banco UBS Pactual S.A.</option>
                                                <option value="212">212 - Banco Matone S.A.</option>
                                                <option value="213">213 - Banco Arbi S.A.</option>
                                                <option value="214">214 - Banco Dibens S.A</option>
                                                <option value="215">215 - Banco Comercial e de Investimento Sudameris S.A.</option>
                                                <option value="217">217 - Banco John Deere S.A.</option>
                                                <option value="218">218 - Banco Bonsucesso S.A.</option>
                                                <option value="222">222 - Banco Calyon brasil S.A.</option>
                                                <option value="224">224 - Banco Fibra S.A</option>
                                                <option value="225">225 - Banco Brascan S.A.</option>
                                                <option value="229">229 - Banco Cruzeiro Do Sul S.A.</option>
                                                <option value="230">230 - Unicard Banco Múltiplo S.A.</option>
                                                <option value="233">233 - Banco GE Capital S.A.</option>
                                                <option value="237">237 - Banco Bradesco S.A.</option>
                                                <option value="241">241 - Banco Classico S.A.</option>
                                                <option value="243">243 - Banco Máxima S.A.</option>
                                                <option value="246">246 - Banco ABC Brasil S.A.</option>
                                                <option value="248">248 - Banco Boavista Interatlantico S.A</option>
                                                <option value="249">249 - Banco Investicred Unibanco S.A.</option>
                                                <option value="250">250 - Banco Schahin S.A.</option>
                                                <option value="254">254 - Paraná Banco S.A.</option>
                                                <option value="263">263 - Banco Cacique S.A.</option>
                                                <option value="265">265 - Banco Fator S.A</option>
                                                <option value="266">266 - Banco Cedula S.A</option>
                                                <option value="300">300 - Banco de La Nacion Argentina</option>
                                                <option value="318">318 - Banco BMG S.A.</option>
                                                <option value="320">320 - Banco Industrial e Comercial S.A</option>
                                                <option value="341">341 - Banco Itaú S.A</option>
                                                <option value="366">366 - Banco Societé Generale Brasil S.A.</option>
                                                <option value="370">370 - Banco Westlb do Brasil S.A</option>
                                                <option value="376">376 - Banco J.P. Morgan S.A.</option>
                                                <option value="389">389 - Banco Mercantil do Brasil S.A.</option>
                                                <option value="394">394 - Banco Finasa BMC S.A.</option>
                                                <option value="399">399 - HSBC Bank Brasil S.A. – Banco Múltiplo</option>
                                                <option value="409">409 - Unibanco-União de Bancos Brasileiros S.A</option>
                                                <option value="412">412 - Banco Capital S.A.</option>
                                                <option value="422">422 - Banco Safra S.A.</option>
                                                <option value="453">453 - Banco Rural S.A</option>
                                                <option value="456">456 - Banco de Tokyo-Mitsubishi UFJ Brasil S/A</option>
                                                <option value="464">464 - Banco Sumitomo Mitsui Brasileiro S.A</option>
                                                <option value="473">473 - Banco Caixa Geral – Brasil S.A.</option>
                                                <option value="477">477 - Citibank N.A.</option>
                                                <option value="479">479 - Banco Itaubank S.A</option>
                                                <option value="487">487 - Deutsche Bank S.A. – Banco Alemao</option>
                                                <option value="488">488 - JPMorgan Chase Bank, National Association</option>
                                                <option value="492">492 - Ing Bank N.V.</option>
                                                <option value="494">494 - Banco de la Republica Oriental del Uruguay</option>
                                                <option value="495">495 - Banco de la Provincia de Buenos Aires</option>
                                                <option value="505">505 - Banco Credit Suisse (Brasil) S.A.</option>
                                                <option value="600">600 - Banco Luso Brasileiro S.A</option>
                                                <option value="604">604 - Banco Industrial Do Brasil S.A</option>
                                                <option value="610">610 - Banco VR S.A</option>
                                                <option value="611">611 - Banco Paulista S.A.</option>
                                                <option value="612">612 - Banco Guanabara S.A.</option>
                                                <option value="613">613 - Banco Pecunia S.A</option>
                                                <option value="623">623 - Banco Panamericano S.A.</option>
                                                <option value="626">626 - Banco Ficsa S.A</option>
                                                <option value="630">630 - Banco Intercap S.A</option>
                                                <option value="633">633 - Banco Rendimento S.A.</option>
                                                <option value="634">634 - Banco Triangulo S.A.</option>
                                                <option value="637">637 - Banco Sofisa S.A</option>
                                                <option value="638">638 - Banco Prosper S.A.</option>
                                                <option value="641">641 - Banco Alvorada S.A.</option>
                                                <option value="643">643 - Banco Pine S.A.</option>
                                                <option value="652">652 - Itaú Unibanco Banco Múltiplo S.A</option>
                                                <option value="653">653 - Banco Indusval S.A.</option>
                                                <option value="654">654 - Banco A.J. Renner S.A</option>
                                                <option value="655">655 - Banco Votorantim S.A</option>
                                                <option value="707">707 - Banco Daycoval S.A.</option>
                                                <option value="719">719 - Banif – Banco Internacional do Funchal (Brasil), S.A</option>
                                                <option value="721">721 - Banco Credibel S.A.</option>
                                                <option value="734">734 - Banco Gerdau S.A</option>
                                                <option value="735">735 - Banco Pottencial S.A</option>
                                                <option value="738">738 - Banco Morada S.A</option>
                                                <option value="739">739 - Banco BGN S.A.</option>
                                                <option value="740">740 - Banco Barclays S.A</option>
                                                <option value="741">741 - Banco Ribeirao Preto S.A</option>
                                                <option value="743">743 - Banco Semear S.A.</option>
                                                <option value="745">745 - Banco Citibank S.A.</option>
                                                <option value="746">746 - Banco Modal S.A</option>
                                                <option value="747">747 - Banco Rabobank International Brasil S.A</option>
                                                <option value="748">748 - Banco Cooperativo Sicredi S.A.</option>
                                                <option value="749">749 - Banco Simples S.A</option>
                                                <option value="751">751 - Dresdner Bank Brasil S.A. Banco Multiplo</option>
                                                <option value="752">752 - Banco BNP Paribas Brasil S.A</option>
                                                <option value="753">753 - NBC Bank Brasil S. A. – Banco Múltiplo</option>
                                                <option value="756">756 - Banco Cooperativo do Brasil S.A. – Bancoob</option>
                                                <option value="757">757 - Banco KEB do Brasil S.A.</option>
                                            </select>
                                            <!--<input class="text-uppercase form-control csh-banco" type="text" name="csh-banco" id="csh-banco" placeholder="Preenchimento obrigatório" required="">-->
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Agência:</label>
                                            <input class="text-uppercase form-control csh-agencia" type="text" name="csh-agencia" id="csh-agencia" placeholder="Preenchimento obrigatório" required="" maxlength="18" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Conta:</label>
                                            <input class="text-uppercase form-control csh-conta" type="text" name="csh-conta" id="csh-conta" placeholder="Preenchimento obrigatório" required="" maxlength="18" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mar-top-30s">
                            <div class="col-md-8">
                                <div class="form-inline mar-top-30 vitrine-mod-2">
                                    <div class="no-margin-left" id="cupom-msg"><b> [cupom_msg] </b></div>
                                    <label>Utilize seu Cupom de Desconto:</label><Br>
                                    <input type="text" name="cupom" class="form-control" id="cupom" value="[cupom_alfa]"
                                           placeholder="digite aqui o seu cupom"/>
                                    <button type="button" class="btn btn-primary tips-right btn-cupom-valida"
                                            title="validar cupom">
                                        <i class="fa fa-check-circle"></i>
                                    </button>
                                    <br/>
                                    <span class="bg-gray [btn-cupom-remove]"></span>
                                    <br/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <p class="text-right total_compra font-18 text-primary">
                                    <small><span class="text-success [btn-cupom-remove]">Desconto(s):<br> [desconto_motivo]</span>
                                    </small>
                                    <br><br>
                                    <strong>
                                        <span class="[btn-cupom-remove]">Total: <b>[total_com_desconto]</b> <br/></span>
                                        <span class="[btn-cupom-valida]">Total: <b>[total_sem_desconto]</b> <br/></span>
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li id="cartao-hide-tab" class="active [show_hide_cartao]"><a href="#tab1" data-toggle="tab"><strong><i
                                class="fa fa-credit-card text-primary"></i> Cartão de Crédito</strong> (R$
                            [total_com_desconto])</strong></a></li>
                        <li class="[show_hide_boleto_pagseguro]"><a href="#tab2" data-toggle="tab"><strong><i
                                class="fa fa-barcode text-primary"></i> Boleto Bancário (R$ [boleto_valor])</strong></a>
                        </li>
                        <li class="[show_boleto_padrao]"><a href="#tab4" data-toggle="tab"><strong><i
                                class="fa fa-barcode text-primary"></i> Boleto Bancário (R$
                            [boleto_padrao_valor])</strong></a></li>
                        <li id="deposito-hide-tab"><a href="#tab3" data-toggle="tab"><strong><i class="fa fa-exchange text-primary"></i>
                            Depósito Bancário</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <!--Crédito-->
                        <div class="tab-pane active" id="tab1">
                            <section id="credito">
                                <form action="[baseUri]/finalizar/checkout/" method="post" id="formulario">
                                    <div class="col-md-6 col-xs-12 form-cielo">
                                        <div class="row">
                                            <div class="hide form-group">
                                                <label>Bandeira do Cartão</label>
                                                <p id="brand_flag"></p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Número do cartão</label>
                                            <input class="text-uppercase form-control cielo-control"
                                                   type="text" maxlength="20" name="fakecartao_num" id="fakecartao_num"
                                                   placeholder="informe o número do cartão de crédito" required/>
                                        </div>
                                        <input type="hidden" name="cartao_num" id="cartao_num">

                                        <div class="form-group">
                                            <label>Nome do Titular
                                                <small class="text-muted">(exatamente como está impresso no cartão)</small>
                                            </label>
                                            <input class="text-uppercase form-control cielo-control" type="text"
                                                   name="cartao_nome" id="cartao_nome"
                                                   placeholder="Preenchimento obrigatório" required/>
                                        </div>
                                        <div class="form-group">
                                            <label>CPF/CNPJ do Titular do cartão</label>
                                            <input class="text-uppercase form-control cielo-control cpf" type="text" name="cartao_cpf"
                                                   id="cartao_cpf" placeholder="Preenchimento obrigatório" required/>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Mês de validade</label>
                                                    <select class="form-control cielo-control" name="cartao_mes"
                                                            id="cartao_mes" required>
                                                        <option value="">Mês</option>
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Ano de validade</label>
                                                    <select class="form-control cielo-control" name="cartao_ano"
                                                            id="cartao_ano" required>
                                                        <option value="">Ano</option>
                                                        <?php for ($i = @date('Y'); $i <= @date('Y') + 15; $i++): ?>
                                                        <option value="<?= $i ?>"><?= $i ?></option>
                                                        <?php endfor; ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Código de segurança</label>
                                                    <input class="form-control cielo-control only-number"
                                                           type="text" pattern="\d*" maxlength="4"
                                                           name="cartao_cod" id="cartao_cod" required
                                                           placeholder="código do cartão"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="parcelamento">
                                            <label>Número de parcelas</label>
                                            <select name="card_parcela" id="card_parcela" class="form-control">
                                                <option>para ver as parcelas, digite todos os dados do cartão....
                                                </option>
                                            </select>
                                        </div>
                                        <div class="hide hide-credito">
                                            <input type="hidden" class="form-control" name="session_token"
                                                   id="session_token" value="[pagseguro_ssid]">
                                            <input type="hidden" class="form-control" name="card_token" id="card_token">
                                            <input type="hidden" class="form-control" name="sender_hash"
                                                   id="sender_hash">
                                            <input type="hidden" name="amount" id="amount" value="[pagseguro_amount]">
                                            <input type="hidden" name="total_amount" id="total_amount">
                                            <input type="hidden" name="pedido_total_parcelado"
                                                   id="pedido_total_parcelado">
                                            <input type="hidden" name="metodo_pagamento" id="metodo-credito"
                                                   value="credito">
                                            <input type="hidden" class="form-control" name="modo_utilizacao" id="modo_utilizacao-credito"
                                                   value="0">
                                        </div>
                                    </div>
                                    <div class="cartao-modelo col-md-6 hidden-xs-down hidden-xs">
                                        <div class="card-wrapper"></div>
                                    </div>
                                    <div class="center btn-pagamento">
                                        <button class="disabled concluir-pedido btn btn-success btn-lg mar-top-30"
                                                data-loading-text="Aguarde..." id="btn-finaliza-credito">
                                            <i class="fa fa-check-circle"></i>
                                            Concluir Meu <span class="orcamento-singular">Pedido</span>
                                        </button>
                                    </div>
                                </form>
                            </section>
                        </div>
                        <!--Boleto-->
                        <div class="tab-pane" id="tab2">
                            <section id="boleto">
                                <form action="[baseUri]/finalizar/checkout/" class="form validate" method="post">
                                    <div class="boleto-hide hide">
                                        <input type="hidden" class="form-control session_token" name="session_token"
                                               value="[pagseguro_ssid]">
                                        <input type="hidden" name="amount" class="amount" value="[pagseguro_amount]">
                                        <input type="hidden" name="total_amount" class="total_amount">
                                        <input type="hidden" name="total_produtos" id="total_produtos"
                                               value="[total_produtos]">
                                        <input type="hidden" name="metodo_pagamento" id="metodo-boleto" value="boleto">
                                        <input type="hidden" class="form-control" name="modo_utilizacao" id="modo_utilizacao-boleto" value="0">
                                        <input type="hidden" class="form-control" name="sender_hash" id="sender_hash2">
                                    </div>

                                    <div class="text-center">
                                        <h3><i class="fa fa-4x fa-barcode"></i><br>
                                            Pagar R$ [boleto_valor] Com Boleto Bancário
                                        </h3>

                                        <div class="center btn-pagamento">
                                            <button class="concluir-pedido btn btn-success btn-lg mar-top-30"
                                                    data-loading-text="Aguarde..." id="btn-finaliza-boleto">
                                                <i class="fa fa-check-circle"></i>
                                                Concluir Meu <span class="orcamento-singular">Pedido</span>
                                            </button>
                                        </div>
                                </form>
                            </section>
                        </div>
                        <!--Depósito-->
                        <div class="tab-pane" id="tab3">
                            <section id="deposito">
                                <form action="[baseUri]/finalizar/checkout/" class="form validate" method="post">
                                    <div class="boleto-hide hide">
                                        <input type="hidden" class="form-control session_token" name="session_token"
                                               value="[pagseguro_ssid]">
                                        <input type="hidden" name="amount" class="amount" value="[pagseguro_amount]">
                                        <input type="hidden" name="total_amount" class="total_amount">
                                        <input type="hidden" name="total_produtos" id="total_produtos"
                                               value="[total_produtos]">
                                        <input type="hidden" name="metodo_pagamento" id="metodo-deposito"
                                               value="deposito">
                                        <input type="hidden" class="form-control" name="modo_utilizacao" id="modo_utilizacao-deposito"
                                               value="0">
                                    </div>

                                    <div class="text-center">
                                        <h3><i class="fa fa-4x fa-exchange"></i><br>
                                            Pagar Com Depósito / Transferência Bancária
                                        </h3>

                                        <div class="center btn-pagamento">
                                            <button class="concluir-pedido btn btn-success btn-lg mar-top-30"
                                                    data-loading-text="Aguarde..." id="btn-finaliza-deposito">
                                                <i class="fa fa-check-circle"></i>
                                                Concluir Meu <span class="orcamento-singular">Pedido</span>
                                            </button>
                                        </div>
                                </form>
                            </section>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="pagseguro_semjuros" id="pagseguro_semjuros" value="[pagseguro_semjuros]"/>
<br><br><br><br><br><br><br><br><br><br><br><br>
<p class="col-md-12"></p>
<?php include 'footer.html'; ?>
<script type="text/javascript" src="js/jquery/jquery.mask.js"></script>
<script src="js/public/finalizar.js" type="text/javascript"></script>
<script type="text/javascript" src="js/public/jquery.card.js"></script>
<script type="text/javascript" src="[pagseguro_url_js]"></script>

<script>

	if('[show_hide_cartao]' == 'hide'){
		$( "#deposito-hide-tab" ).trigger( "click" );
		$('#cartao-hide-tab').removeClass('active');
		$('#tab1').removeClass('active');

		$('#deposito-hide-tab').addClass('active');
		$('#tab3').addClass('active');

	}

    var depopsito_on_off = "[deposito_on_off]";
    if(depopsito_on_off == '2'){
        $('#tab3').hide();
        $('#deposito').hide();
        $('#deposito-hide-tab').hide();
    }

    //$('#parcelamento').hide();
    $('.cpf').mask('999.999.999-99 000');
    $("#fakecartao_num").mask('9999 9999 9999 9999');
    var pagseguro_id = '[pagseguro_ssid]';
    new Card({
        form: document.getElementById('formulario'),
        formSelectors: {
            numberInput: 'input[name="fakecartao_num"]',
            expiryInput: 'input[name="cartao_ano"]',
            cvcInput: 'input[name="cartao_cod"]',
            nameInput: 'input[name="cartao_nome"]'
        },
        placeholders: {
            number: '•••• •••• •••• ••••',
            name: 'Nome do Titular',
            expiry: '••/••',
            cvc: '•••'
        },
        container: '.card-wrapper',
    });

    PagSeguroDirectPayment.setSessionId("[pagseguro_ssid]");
    	
    	console.log('AMOUNT');
    	console.log('[pagseguro_amount]');

    PagSeguroDirectPayment.getPaymentMethods({
        amount: '[pagseguro_amount]',
        success: function (response) {
            jQuery.each(response['paymentMethods'], function (index, value) {
                //       console.log(index);
            });
        },
        error: function (response) {
            console.log(response)
        },
        complete: function (response) {
            //console.log(response.response)
            if (response.response == 'Internal Server Error') {
                $('#btn-finaliza-boleto').attr('disabled', 'disabled');
                return false;
            }
            var sender_hash = PagSeguroDirectPayment.getSenderHash();
            $('#sender_hash2').val(sender_hash)
        }
    });

    $("#btn-finaliza-boleto").on('click', function () {
        $(this).addClass('disabled');
        $(this).text('Aguarde...');
        $('#btn-finaliza-credito').addClass('disabled');
    });
    $("#btn-finaliza-credito").on('click', function () {
        $(this).addClass('disabled');
        $(this).text('Aguarde...');
        $('#btn-finaliza-boleto').addClass('disabled');
    });

    $(".chb").change(function()
    {
        $(".chb").prop('checked',false);
        $(this).prop('checked',true);

        let checked = $(this).val();

        if(checked)
        {
            $("#modo_utilizacao-credito, #modo_utilizacao-boleto, #modo_utilizacao-deposito").each( function( i , v ){

                let input = $( this );
                input.val(checked);

            });

            limpaCSHFields();

            eval('habilitaOpcao' + checked + '()');
        }

        //cloneElements();

    });

    function escondeCSHForm(){
        $('#cshFields').hide();
    }

    function mostraCSHForm(){
        $('#cshFields').show();
    }

    function escondeCSHFields(){
        $('#cshFields input, #cshFields select').each(function (i,v) {
            let element = $(this);
            element.parent().hide();
        });
    }

    function mostraCSHFields(fieldElement){
        if(!fieldElement){
            $('#cshFields input, #cshFields select').each(function (i,v) {
                let element = $(this);
                element.parent().show();
            });
        } else {
            $(fieldElement).parent().show();
        }
    }

    function limpaCSHFields(){
        $('#cshFields input, #cshFields select').each(function (i,v) {
            let element = $(this);
            element.val('');
        });
    }

    function escondelinha(numLinha){
        if(!numLinha){
            $('#cshFields row').each(function(i,v){
                let element = $(this);
                element.hide();
            });
        } else {
            $('#cshFields row:eq(numLinha-1)').hide();
        }
    }

    function mostralinha(numLinha){
        if(!numLinha){
            $('#cshFields row').each(function(i,v){
                let element = $(this);
                element.show();
            });
        } else {
            $('#cshFields row:eq(numLinha-1)').show();
        }
    }

    function habilitaOpcao1(){
        escondeCSHForm();
    }

    function habilitaOpcao2(){
        mostraCSHFields();
        mostraCSHForm();
    }

    function habilitaOpcao3(){
        escondeCSHFields();
        mostraCSHForm();
        mostraCSHFields('#csh-nome');
    }

    function habilitaOpcao4(){
        escondeCSHFields();
        mostraCSHForm();
        mostraCSHFields('#csh-nome');
        mostraCSHFields('#csh-email');
    }

    function cloneElements(){

        $('#cshFields input, #cshFields select').each(function(i,v){

            let element = $(this);

            console.log("Elemento: " + i);
            console.log("Valor: " + element.val());

            let vPanel = $(".tab-pane .active form");
            let formPanel = vPanel.find(".hide").last();
            let vSelector = '#' + element.attr('id');
            let formPanelElement = formPanel.find(vSelector);
            console.log(formPanelElement);
            if(!formPanelElement.length > 0){
                let newElement = element.clone(false);
                newElement.attr('type','hidden');
                //newElement.attr('id',$(".tab-pane .active").attr('id') + '-' + newElement.attr('id'));
                //newElement.val(element.val());
                formPanel.append(newElement);
            } else {
                formPanelElement.val(element.val());
            }

        });

    }

    /*function validaFormCSH(e){



    }*/

    $(".tab-pane .active form").on( "submit", function(event) {
        //event.preventDefault();

        let mdUtil = $(".chb:checked");
        let cshNome = $("#csh-nome");
        let cshEmail = $("#csh-email");

        if(!mdUtil.val()){
            alert("Por favor, escolha o modo de utilização do seu CUPOM");
            $('.chb').first().focus();
            return false;
        } else {
            if(mdUtil.val() != 1 && !cshNome.val()){
                alert("Por favor, escolha o Nome para Indicação!");
                cshNome.focus();
                return false;
            }
            if(mdUtil.val() == 4 && !cshEmail.val()){
                alert("Por favor, escolha um Email válido!");
                cshEmail.focus();
                return false;
            }
        }
        cloneElements();
        //$(this).submit();
        return true;
    });

</script>
<script type="text/javascript" src="js/public/pagseguro.js?v=<?=rand(1000,5000)?>"></script>
<script>[msg_error]</script>
<script>[evt_onload]</script>
</body>
</html>
