<style type="text/css">.zoomLens {cursor: url('[baseUri]/app/images/layout/zoom.png'), default !important;}</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" style="margin-top:5px">
    <div class="carousel-inner">
        <!--{loop:fg}-->
        <div class="item srle">
            <a href="[baseUri]/app/fotos/fg.foto_url" title="" data-lightbox="roadtrip" class="html5lightbox" data-group="amazingcarousel-10">
                <img src="thumber.php?zc=3&w=450&h=400&src=fotos/fg.foto_url" data-zoom-image="[baseUri]/app/fotos/fg.foto_url" alt=""  class="img-responsive zoom">
            </a>
        </div>
        <!--{end:fg}-->
    </div>
    <ul class="thumbnails-carousel clearfix">
        <!--{loop:tfg}-->
        <li><img src="thumber.php?zc=1&w=60&h=60&src=fotos/tfg.foto_url" alt="" class="rzoom"></li>
        <!--{end:tfg}-->
    </ul>
</div>
<br /><br />
<br class="hidden-xs"/>
