
<div class="container{config_site_full}">
    <div class="mar-bot-20 hidden-xs">
        <div class="pad-5 border-1-blacks">
            <div class="row" id="banner-info">
                <div class="container">
                    <!--{loop:bp}-->
                    <!--{<div class="col-md-12">}-->
                    <!--{<div class="item">}-->
                    <!--{<a bp.slide_link target="bp.slide_target">}-->
                    <!--{<img src="thumber.php?qd=90&zcc=2&ws=1140&h=80&src=fotos/slide/bp.slide_url" class="img-responsive" alt="slide">}-->
                    <!--{</a>}-->
                    <!--{</div>}-->
                    <!--{</div>}-->
                    <!--{end:bp}-->
                </div>
            </div>
        </div>
    </div>
</div>