<div class="hide" id="modo-loja">[config_modo]</div>

<div role="navigation" id="fixed" class="navbar navbar-default">
    <div class="container{config_site_full}">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#drop-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="drop-tabs">
            <ul class="nav navbar-nav">
                <li id="home"><a href="[baseUri]/">HOME</a></li>
                <li id="promo"><a href="[baseUri]/pagina/quem-somos/">QUEM SOMOS</a></li>
                <li id="promo"><a href="[baseUri]/index/promocoes/">OFERTAS</a></li>
                <li class="nologged"><a href="[baseUri]/cliente/">LOGIN / CADASTRO</a></li>
                <li class="logged hide"><a href="[baseUri]/cliente/">MINHA CONTA</a></li>
                <li id="atd"><a href="[baseUri]/atendimento/">ATENDIMENTO</a></li>
                <li class="logged logout hide"><a href="[baseUri]/cliente/logout/">SAIR</a></li>
                <li class="visible-xs vitrine"><a href="[baseUri]/carrinho/"><i class="fa fa-shopping-cart" style="font-size: 18px !important"></i> CARRINHO <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){echo "(" .count($_SESSION['cart']) . ")"; } ?> </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><i class="fa fa-envelope-o"></i> [config_site_email]</a></li>
                <li><a><i class="fa fa-phone"></i> [config_site_fone1]</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=5574988144845&text=Preciso%20de%20informações" class="text-center" target="_blank"><i class="fa fa-whatsapp"></i> [config_site_fone2]</a></li>
                <li class="hide cart-hide"><a href="[baseUri]/carrinho/" class="btn-top-cart-sm"><i class="fa fa-shopping-cart" style="font-size: 18px !important"></i> <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){echo "(" .count($_SESSION['cart']) . ")"; } ?> </a></li>

                <li class="hide compare-hide"><a href="[baseUri]/compara/" class="btn-top-compara-sm"><i class="fa fa-exchange" data-toggle="tooltip" title="comparar produtos" style="font-size: 18px !important"></i> 
                <?php  if(isset($_SESSION['compara']) && count($_SESSION['compara'])>=1): ?>
                <?php echo "(" .count($_SESSION['compara']) . ")"; ?> 
                <?php endif;?>
                </a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
</div>
</div>
<div id="top">
    <div class="container{config_site_full}">
        <div class="col-md-3 col-xs-12 mar-top-logo">
            <a href="[baseUri]/">
                <img src="images/layout/logo.png" class="img-responsive" alt="Logo" />
            </a>
            <span class="hide hello-cliente">Olá [cliente_nome], bem-vindo de volta!</span>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 col-xs-12 text-center" style="margin-top: 5.5%">
            <form action="[baseUri]/index/busca/" method="post">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" name="busca" id="busca" value="[busca]" placeholder="O que você procura?"  x-webkit-speech="x-webkit-speech">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 hidden-xs no-padding vitrine" style="margin-top: 75px">
            <div class="pull-right">
                <a href="[baseUri]/carrinho/" class="text-white btn btn-rounds btn-top-cart <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){?>btn-default<?php }else{?>btn-custom<?php }?>">
                    <i class="fa fa-shopping-cart fa-3x"></i> <br />
                    Carrinho <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){echo "(" .count($_SESSION['cart']) . ")"; } ?>
                    <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){echo '<br>R$<span id="total-carrinho-top"> ' .number_format($_SESSION['__TOTAL__COMPRA__'],2,',','.') ; echo '</span>';} ?>
                </a>

                <?php  if(isset($_SESSION['compara']) && count($_SESSION['compara'])>=1): ?>
                <a href="[baseUri]/compara/compara" class="text-white btn btn-rounds btn-top-compara <?php  if(isset($_SESSION['cart']) && count($_SESSION['cart'])>=1){?>btn-default<?php }else{?>btn-custom<?php }?>">
                    <i class="fa fa-exchange fa-3x"></i> <br />
                    Compare <?php echo "(" .count($_SESSION['compara']) . ")"; ?>
                </a>
                 <?php endif;?>
            </div>
        </div>

    </div>
</div>

<div class="row">
<div class="navbar navbar-default" id="nav-categoria" role="navigation">
    <div class="container{config_site_full}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav2">
            <ul class="nav navbar-nav" style="margin-left: 5px!important;">
                <li class="hidden-xs hide"><a href="[baseUri]"><i class="fa fa-home"></i></a></li>
                <!--{loop:cat}-->
                <li class="dropdown cat.categoria_url">
                    <a href="[baseUri]/index/categoria/cat.categoria_url/" class="dropdown-toggle" data-toggle="dropdown">
                        <!--{cat.categoria_title}-->
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" >
                        <!--{loop:sub}-->
                        <!--{<li><a href="[baseUri]/index/categoria/cat.categoria_url/cat.sub.sub_url/">cat.sub.sub_title</a></li>}-->
                        <!--{end:sub}-->
                        <!--{<li><a href="[baseUri]/index/categoria/cat.categoria_url/">Todo o departamento</a></li>}-->
                    </ul>
                </li>
                <!--{end:cat}-->
                <!--{loop:depto}-->
                <!--{<li><a href="[baseUri]/index/categoria/depto.categoria_url/">depto.categoria_title</a></li>}-->
                <!--{end:depto}-->
            </ul>
        </div>
    </div>
</div>
</div>